body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  width: 100%;
  height: 100vh;
  /* background-image: url(images/kirtikourpassportpic.png); */
  mix-blend-mode: normal;
  background-size: cover;
  background-position: right;
}
#home {
  padding: 8px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-text.row.about-col-1 {
  flex-basis: 40%;
  order: 1;
}
.header-text.row.about-col-2 {
  flex-basis: 40%;
  order: 2;
}
.about-col-2 img {
  width: 70%;
  border-radius: 50%;
  mix-blend-mode: difference;
  margin-left: 100px;
}
.header-text.row.about-col-2 img {
  width: 100%;
  border-radius: 50%;
}
.logo {
  background-color: black;
  iwidth: 140px;
  font-size: 40px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
ul li a {
  text-decoration: none;
  color: aliceblue;
}
.topmenu {
  color: #fff;
  line-height: 2;
  position: relative;
}
h1 {
  transition: transform 0.3s;
}
h1:hover {
  transform: translateY(10px);
}
.topmenu::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(250, 79, 5);
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.topmenu:hover::before {
  width: 100%;
  left: 0;
}
.header_text {
  margin-top: 60px;
  font-size: 30px;
}
.header_text h1 {
  font-size: 60px;
}

/* ---------------About------------- */
#about {
  padding: 100px 0;
  color: rgb(133, 131, 131);
  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 50%;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-weight: 600px;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(250, 79, 5);
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}
.tab-links.active-link::after {
  width: 90%;
}
.tab-contents ul {
  list-style: none;
  margin-top: 0;
  padding-inline-start: 0;
}
.tab-contents ul li {
  list-style: none;
  margin: 8px 0 0 0;
  padding-inline-start: 0;
}
.tab-contents ul li span {
  color: rgb(250, 79, 5);
  font-size: 18px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* ================ my work ================= */
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 80px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 30px;
}
.card {
  overflow: visible;
  width: 200px;
  height: 254px;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #be0c89,
    #c766ff,
    #6966ff,
    #d42806,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 150px;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  height: 50%;
  margin: 5px 5px 40px 5px;
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 10rem;
  fill: var(--light);
}

.title {
  font-size: 14px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin: 0;
}

.link-icon {
  color: #fff;
  text-decoration: none;
  margin-top: 10px; /* Adds space between text and icon */
}
.link-icon:hover {
  color: #c766ff;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #e566ff;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: rgb(250, 79, 5);
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(250, 79, 5);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: rgb(250, 79, 5);
}
.butto {
  display: block;
  margin: 50px auto;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(250, 79, 5);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: 0.5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.butto:hover {
  background-color: rgb(103, 1, 129);
  transition-duration: 0.5s;
}

.butto:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.butto:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

/* =================== contact ================== */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: rgb(250, 79, 5);
  margin-right: 15px;
  font-size: 25px;
}
.contact .sub-title {
  font-size: 40px;
  margin-top: 50px;
}
.icons {
  margin-top: 30px;
  font-size: 20px;
}
.icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #dcd7d7;
  display: inline-block;
  transition: transform 0.5s;
}
.icons a:hover {
  color: rgb(250, 79, 5);
  transform: translateY(5px);
}
.btn2 {
  display: inline-block;

  border: 1px solid rgb(250, 79, 5);

  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: black;
  transition: background 0.5s;
  /* background-color: #dcd7d7; */
}
.btn2:hover {
  background: rgb(250, 79, 5);
}
/* ++++++++++++++++ doenload button ++++++++++ */
.Bt {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  margin-top: 20px;
  margin-right: 30px;
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -130px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Bt:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Bt:hover {
  background-color: rgb(103, 1, 129);
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Bt:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 90%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 16px;
  cursor: pointer;
}
#msg {
  color: #575656;

  margin-top: 10px;
  display: block;
}
input:hover {
  border: 1px solid rgb(250, 79, 5);
}

.button1 {
  --primary-color: rgb(250, 79, 5);
  --secondary-color: #fff;
  --hover-color: rgb(103, 1, 129);
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}
.role {
  margin-top: 0;
}
.button1.arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.button1 .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button1:hover {
  background-color: var(--hover-color);
}

.button1:hover .arrow {
  background: var(--secondary-color);
}

.button1:hover .arrow:before {
  right: 0;
}

/* +++++++++++++++=== csss for smalll screen ++++++++++++++ */
nav .fas {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header-text .row {
    flex-direction: column-reverse;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 50%;
    padding: 50px;
    z-index: 2;
    margin-top: 0;
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: right 0.3s ease;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .header-text .row {
    flex-direction: column;
  }

  .header-text .about-col-1,
  .header-text .about-col-2 {
    flex-basis: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .about-col-2 img {
    width: 70%;
    margin: 20px auto;
    display: none;
  }

  .sub-title {
    font-size: 40px;
  }
  #about .about-col-1,
  #about .about-col-2 {
    flex-basis: 100%;
  }
  #about .about-col-1 {
    margin-bottom: 30px;
  }
  #about .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
    text-align: center;
    /* padding: 2px 12%; */
  }
  .contact-left p {
    font-size: 13px;
  }
  #about {
    padding: 10px 0;
  }
  .header_text h1 {
    font-size: 40px;
  }
}
